@import 'src/styles/vars';

.App {
  text-align: center;
  background-color: #282C34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  border: 4px solid white;
  padding: 15px 24px;
  
  font-weight: bold;
  font-size: $button;
  text-decoration: none;
    
  color: black;
  cursor: pointer;
  
  margin-bottom: $space-x1;

  box-shadow: 4px 0 20px rgba($color: #000, $alpha: .45);
  background: rgb(255, 196, 0);
  
  &:active {
    background: rgb(255, 174, 0);
  }

  &:hover {
    background-color: rgb(255, 206, 101);
  }

  &.spaced {
    margin-right: 1rem;
  }
}

.btn-legend {
  margin:0;
  color: rgba(#FFF, 0.65);
}

.toast {
  position: absolute;
  top: -100px;
  text-align: center;
  font-size: $text-current;
  font-weight: bold;
  background-color: white;
  padding: 1rem 1.5rem;
  color: black;
  border-radius: 8px;
  box-shadow: 0 10px 50px 0px black;
  transition-property: top;
  transition-timing-function: bounce;
  transition-duration: .3s;
  
  &.show {
    top: 50px;
  }
}