// Vars Scss

// project colors
$color-cta: rgb(255, 196, 0);

// font
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// sizes
$space-x4:      4.0rem;
$space-x2:      2.0rem;
$space-x1:      1.0rem;
$space-x05:     0.5rem;

$title-h1:      3.6em;
$title-h2:      3.2em;
$text-current:  2.0em;
$picker:        3.4em;
$button:        1.4em;